'.text.xml':
  'resistance-bludgeoning':
    'prefix': 'resistance-bludgeoning'
    'body': """
    <grant type=\"Condition\" id=\"ID_INTERNAL_CONDITION_DAMAGE_RESISTANCE_BLUDGEONING\" />
    """

  'resistance-piercing':
    'prefix': 'resistance-piercing'
    'body': """
    <grant type=\"Condition\" id=\"ID_INTERNAL_CONDITION_DAMAGE_RESISTANCE_PIERCING\" />
    """

  'resistance-slashing':
    'prefix': 'resistance-slashing'
    'body': """
    <grant type=\"Condition\" id=\"ID_INTERNAL_CONDITION_DAMAGE_RESISTANCE_SLASHING\" />
    """
